# base url
baseURL = 'https://yewentao256.github.io'
defaultContentLanguage = "en"
title = 'Yewentao Hugo Site'
theme = 'DoIt'


publishDir = 'public'

pagerSize = 12
googleAnalytics = ""
copyright = "yewentao256@github"

enableRobotsTXT = true
enableGitInfo = true
enableEmoji = true

# ignore some errors
ignoreErrors = ["error-remote-getjson", "error-missing-instagram-accesstoken"]

[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5

[Permalinks]
  # posts = ":year/:month/:filename"
  posts = ":filename"

[privacy]
  [privacy.twitter]
    enableDNT = true
  [privacy.youtube]
    privacyEnhanced = true

[mediaTypes]
  [mediaTypes."text/plain"]
    suffixes = ["md"]

[outputFormats.MarkDown]
  mediaType = "text/plain"
  isPlainText = true
  isHTML = false

# staticDir = ['static']

[markup]
  # https://gohugo.io/content-management/syntax-highlighting
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = true
    lineNumbersInTable = true
    # noClasses = false
    style = 'solarized-light'
  # Goldmark is the default Markdown renderer in Hugo since v0.60.0
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]']]
          inline = [['\(', '\)']]
    [markup.goldmark.renderer]
      # whether to use HTML tags directly in the document
      unsafe = true
  # Table Of Contents settings
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 6

[params]
  title = "Wentao's Blog"
  description = "Wentao's Blog"
  keywords = ["Blog", "Hugo", "yewentao"]
  defaultTheme = "auto"
  # only active when enableGitInfo is set to true
  gitRepo = "https://github.com/yewentao256"
  # Which hash function to use for SRI (Subresource Integrity, a security feature that allows browsers to verify that fetched resources have not been tampered with). Leave empty to disable SRI.
  # ["sha256", "sha384", "sha512", "md5"]
  fingerprint = ""
  dateFormat = "2006-01-02"
  images = ["person-circle.svg"]
  enablePWA = false
  # For more details: https://github.com/HEIGE-PCloud/DoIt/pull/860#issue-1574342372
  cacheRemoteImages = false

  [page]
    [page.math]
      enable = true
      blockLeftDelimiter = '\['
      blockRightDelimiter = '\]'
      inlineLeftDelimiter = '\('
      inlineRightDelimiter = '\)'
      copyTex = true
      mhchem = true
  [params.author]
    name = "yewentao"
    email = "zhyanwentao@outlook.com"
    link = "https://wentao.site/"
    avatar = "/avatar.png"
    gravatarEmail = ""
  [params.header]
    desktopMode = "fixed"    # ["fixed", "normal", "auto"]
    mobileMode = "auto"      # ["fixed", "normal", "auto"]
    [params.header.title]
      logo = ""
      name = "Home"
      pre = ""
      post = ""
      # Whether to display typewriter animation for the title
      typeit = false

  [params.footer]
    enable = true
    custom = ''
    hugo = false
    copyright = true
    author = true
    since = "2021"
    icp = ""
    license = '<a rel="license external nofollow noopener noreffer" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>'

  [params.section]
    pagerSize = 20
    dateFormat = "01-02"
    rss = 10
    [params.section.recentlyUpdated]
      enable = false
      rss = false
      days = 30
      maxCount = 10

  [params.list]
    pagerSize = 20
    dateFormat = "01-02"
    rss = 10

  [params.app]
    noFavicon = false
    svgFavicon = ""
    themeColor = "#ffffff"
    iconColor = "#5bbad5"
    tileColor = "#da532c"

  [params.search]
    enable = true
    # type of search engine ("algolia", "fuse", "pagefind")
    type = "fuse"
    # maximum content length of the search index
    contentLength = 4000
    placeholder = "search here"
    maxResultLength = 10
    # {{< version 0.2.3 >}} snippet length for search results
    snippetLength = 40
    # {{< version 0.2.1 >}} HTML tag used to highlight search results
    highlightTag = "em"
    # {{< version 0.2.4 >}} Whether to use baseURL-based absolute paths in the search index
    absoluteURL = false
    [params.search.algolia]
      index = ""
      appID = ""
      searchKey = ""
    [params.search.fuse]
      # {{< version 0.2.12 >}} https://fusejs.io/api/options.html
      isCaseSensitive = false
      minMatchCharLength = 4
      findAllMatches = false
      location = 0
      threshold = 0.05
      distance = 100
      ignoreLocation = true
      useExtendedSearch = false
      ignoreFieldNorm = false
    [params.search.pagefind]
      # https://pagefind.app/docs/search-config/#available-options
      # run `npx pagefind --site $YOUR_PUBLIC_DIR` after site build to create pagefind index
      termFrequency = 1.0
      pageLength = 0.75
      termSimilarity = 1.0
      termSaturation = 1.4
  
  [params.home]
    rss = 10
    [params.home.profile]
      enable = true
      gravatarEmail = ""
      # The file path is relative to the static or assets directory
      avatarURL = "/avatar.png"
      avatarLinkURL = ""
      title = "Wentao's Blog"
      subtitle = "Hello! Welcome to my blog!"
      # Whether to display typewriter animation for the subtitle
      typeit = true
      social = true
      disclaimer = ""
    [params.home.posts]
      enable = true
      pagerSize = 10

  [params.social]
    GitHub = "yewentao256"
    Linkedin = "yewentao"
    # Twitter = "xxxx"
    # Instagram = "xxxx"
    # Facebook = "xxxx"
    # Telegram = "xxxx"
    # Gitlab = ""
    # Youtubelegacy = ""
    # Youtubecustom = ""
    # Youtubechannel = ""
    # FreeCodeCamp = ""
    # Bitbucket = ""
    # Stackoverflow = ""
    # Weibo = ""
    # Bandcamp = ""
    # Paypal = ""
    # Patreon = ""
    # Strava = ""
    # Skype = ""
    # Whatsapp = ""
    # Zhihu = ""
    # Douban = ""
    # Googlescholar = ""
    # Researchgate = ""
    # Bilibili = ""
    # Discord = ""
    # DiscordInvite = ""
    # Kaggle = ""
    # MediaWiki= ""
    # Plume = ""
    # HackTheBox = ""
    # RootMe= ""
    # Phone = ""
    Email = "zhyanwentao@outlook.com"
    # RSS = true

  [params.page]
    hiddenFromHomePage = false
    hiddenFromSearch = false
    twemoji = false
    lightgallery = false
    ruby = true
    fraction = true
    linkToMarkdown = true
    linkToSource = "https://github.com/yewentao256/yewentao256.github.io/blob/main/content/{path}"
    linkToEdit = "https://github.com/yewentao256/yewentao256.github.io/edit/main/content/{path}"
    linkToReport = "https://github.com/yewentao256/yewentao256.github.io/issues/new?title=[bug]%20{title}&body=|Field|Value|%0A|-|-|%0A|Title|{title}|%0A|Url|{url}|%0A|Filename|https://github.com/yewentao256/yewentao256.github.io/blob/main/content/{path}|"
    
    rssFullText = false

    [params.page.outdatedArticleReminder]
      enable = false
      reminder = 90
      warning = 180
    
    [params.page.toc]
      enable = true
      keepStatic = false
      auto = true
    [params.page.code]
      copy = true
      maxShownLines = 30

    [params.page.table]
      sort = true
    [params.page.math]
      enable = true
      inlineLeftDelimiter = ""
      inlineRightDelimiter = ""
      blockLeftDelimiter = ""
      blockRightDelimiter = ""
      # KaTeX plugin copy_tex
      copyTex = true
      # KaTeX plugin mhchem
      mhchem = true
    [params.page.mapbox]
      accessToken = ""
      lightStyle = "mapbox://styles/mapbox/light-v10?optimize=true"
      darkStyle = "mapbox://styles/mapbox/dark-v10?optimize=true"
      navigation = true
      geolocate = true
      scale = true
      fullscreen = true
    [params.page.share]
      enable = true
      Twitter = true
      Facebook = true
      Linkedin = false
      Whatsapp = false
      Pinterest = false
      Tumblr = false
      HackerNews = true
      Reddit = false
      VK = false
      Buffer = false
      Xing = false
      Line = true
      Instapaper = false
      Pocket = false
      Flipboard = false
      Weibo = true
      Blogger = false
      Baidu = false
      Odnoklassniki = false
      Evernote = false
      Skype = false
      Trello = false
      Mix = false

    [params.page.comment]
      enable = true
      [params.page.comment.disqus]
        enable = false
        shortname = ""
      [params.page.comment.gitalk]
        # DoIt 新增 | 0.1.1
        enable = false
        owner = ""
        repo = ""
        clientId = ""
        clientSecret = ""
      [params.page.comment.valine]
        enable = false
        appId = ""
        appKey = ""
        placeholder = ""
        avatar = "mp"
        meta= ""
        pageSize = 10
        lang = ""
        visitor = true
        recordIP = true
        highlight = true
        enableQQ = false
        serverURLs = ""
        emoji = ""
      [params.page.comment.waline]
        enable = false
        serverURL = ""
        pageview = true
        comment = true
        # emoji = ['https://cdn.jsdelivr.net/gh/walinejs/emojis/weibo']
        # meta = ['nick', 'mail', 'link']
        # requiredMeta = []
        # login = 'enable'
        # wordLimit = 0
        # pageSize = 10
        # imageUploader = false
        # highlighter = false
        # texRenderer = false
      [params.page.comment.facebook]
        enable = false
        width = "100%"
        numPosts = 10
        appId = ""
        languageCode = "zh_CN"
      [params.page.comment.telegram]
        enable = false
        siteID = ""
        limit = 5
        height = ""
        color = ""
        colorful = true
        dislikes = false
        outlined = false
        dark = false
      [params.page.comment.commento]
        enable = false
      [params.page.comment.utterances]
        enable = false
        # owner/repo
        repo = ""
        issueTerm = "pathname"
        label = ""
        lightTheme = "github-light"
        darkTheme = "github-dark"
      [params.page.comment.twikoo]
        enable = false
        envId = ""
        region = ""
        path = ""
        cloudbase = true # boolean : true / false.
        visitor = true
        commentCount = true
      [params.page.comment.vssue]
        enable = false
        platform = "" # ("bitbucket", "gitea", "gitee", "github", "gitlab")
        owner = ""
        repo = ""
        clientId = ""
        clientSecret = ""
      [params.page.comment.remark42]
        enable = false
        host = ""
        site_id = ""
        max_shown_comments = 15
        show_email_subscription = true
        simple_view = false
      # giscus comment system settings
      [params.page.comment.giscus]
        enable = true
        # owner/repo
        dataRepo = "yewentao256/yewentao256.github.io"
        dataRepoId = "R_kgDOI3HpRQ"
        dataCategory = "Announcements"
        dataCategoryId = "DIC_kwDOI3HpRc4CYIaq"
        dataMapping = "pathname"
        dataReactionsEnabled = "1"
        dataEmitMetadata = "0"
        dataInputPosition = "bottom"
        lightTheme = "light"
        darkTheme = "dark"
        dataLang = "zh-CN"
      [page.comment.artalk]
        enable = false
        server = ""
        site = ""
        lite = false
        katex = false
        lightbox = false
        pageview = true
        commentCount = true
    [params.page.library]
      [params.page.library.css]
      [params.page.library.js]
    [params.page.seo]
      images = []
      [params.page.seo.publisher]
        name = ""
        logoUrl = ""
    [params.page.related]
      enable = true
      count = 5

  # sponsor settings
  [params.sponsor]
    enable = true
    bio = "Your follow and star ⭐ is my biggest motivation!"
    link = ""
    custom = '''
    <div style="display:flex;justify-content:center;gap:10px;flex-wrap:wrap;align-items:center">
      <a class="github-button"
        href="https://github.com/yewentao256"
        data-show-count="true"
        aria-label="Follow @yewentao256 on GitHub">Follow</a>

      <a class="github-button"
        href="https://github.com/yewentao256/yewentao256.github.io"
        data-icon="octicon-star"
        data-show-count="true"
        aria-label="Star yewentao256/yewentao256.github.io on GitHub">Star</a>
    </div>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    '''

  [params.typeit]
    speed = 150
    cursorSpeed = 1000
    cursorChar = "|"
    duration = -1

  [params.verification]
    google = ""
    bing = ""
    yandex = ""
    pinterest = ""
    baidu = ""

  [params.seo]
    image = ""
    thumbnailUrl = ""

  [params.analytics]
    enable = false
    # Google Analytics
    [params.analytics.google]
      id = ""
      anonymizeIP = true
    # Fathom Analytics
    [params.analytics.fathom]
      id = ""
      server = ""
    [params.analytics.baidu]
      id = ""
    [params.analytics.umami]
      data_website_id = ""
      src = ""
      data_host_url = ""
      data_domains = ""
    [params.analytics.plausible]
      data_domain = ""
      src = ""
    [params.analytics.cloudflare]
      token = ""

  [params.cookieconsent]
    enable = true
    [params.cookieconsent.content]
      message = ""
      dismiss = ""
      link = ""
  [params.cdn]
    data = ""
  [params.compatibility]
    polyfill = false
    objectFit = false

[languages]
  [languages.en]
    weight = 1
    title = "Wentao's Blog"
    languageCode = "en"
    languageName = "English"
    [[languages.en.menu.main]]
      weight = 1
      identifier = "posts"
      pre = ""
      post = ""
      name = "Posts"
      url = "/posts/"
      title = ""
    [[languages.en.menu.main]]
      weight = 3
      identifier = "categories"
      pre = ""
      post = ""
      name = "Categories"
      url = "/categories/"
      title = ""
    [[languages.en.menu.main]]
      weight = 5
      identifier = "about"
      pre = ""
      post = ""
      name = "About"
      url = "/about/"
      title = ""
    [[languages.en.menu.main]]
      weight = 6
      identifier = "github"
      pre = "<i class='fab fa-github fa-fw' aria-hidden='true'></i>"
      post = ""
      name = ""
      url = "https://github.com/yewentao256"
      title = "GitHub"

  [languages.zh-cn]
    weight = 2
    title = "Wentao's Blog"
    languageCode = "zh-CN"
    languageName = "简体中文"
    hasCJKLanguage = true
    [[languages.zh-cn.menu.main]]
      weight = 1
      identifier = "posts"
      pre = ""
      post = ""
      name = "文章"
      url = "/posts/"
      title = ""
    [[languages.zh-cn.menu.main]]
      weight = 3
      identifier = "categories"
      pre = ""
      post = ""
      name = "分类"
      url = "/categories/"
      title = ""
    [[languages.zh-cn.menu.main]]
      weight = 5
      identifier = "about"
      pre = ""
      post = ""
      name = "关于"
      url = "/about/"
      title = ""
    [[languages.zh-cn.menu.main]]
      weight = 6
      identifier = "github"
      pre = "<i class='fab fa-github fa-fw' aria-hidden='true'></i>"
      post = ""
      name = ""
      url = "https://github.com/yewentao256"
      title = "GitHub"

[outputs]
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML", "MarkDown"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]

[taxonomies]
# author = "authors"
category = "categories"
# tag = "tags"
# series = "series"